<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".ror_section" %></a>.
  <%= t ".see" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "ror" %></em>
    <%= t "book" %></a>.
</p>
