<% if logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn btn-danger btn-post">
        <span><%= t "post" %></span>
      </button>
      <div class="new-post">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
        <section class="micropost_form">
          <%= render "shared/micropost_form" %>
        </section>
      </div>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <h2>
      <%= t ".desc" %>
      <a href="http://www.railstutorial.org/"><%= t "ror" %></a>
      <%= t ".sample_app" %>
    </h2>
    <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org" %>
<% end %>
<script>
  $(document).ready(function() {
    $('.btn-post').click(function () {
      $('.new-post').slideToggle('slow');
    });
  });
</script>
