<%= form_for @micropost, html: {multipart:true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.text_area") %>
  </div>
  <%= f.submit t("micropost.submit"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, class: "btn btn-primary",
      accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>
<script type="text/javascript">
  $('#micropost_picture').on('change', function(){
    var size_in_megabytes = this.file[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert(<%= t "micropost.uploader.message" %>);
    }
  })
</script>
